
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    scroll-behavior: smooth;
}

p {
  font-family: 'Lato', sans-serif;
}

#navbar {
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

#social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  transition: 1s;
}

.social-hidden {
  transition: .5s;
  margin-left: -500px;
}

.first-name {
  margin-left: -700px;
}

.last-name {
  margin-right: 500px;
}

.name-logo-ease-in {
  transition: 1.5s;
  transition-delay: 200ms;
  margin-left: unset;
  margin-right: unset;
}

ul {
  list-style-type: none;
}

.main-page {
  background: linear-gradient(45deg, #4A1942 50%, #FFFFFF 50% );
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#social img {
  width: 30px;
  height: 30px;
  transition: all .9s ease-in-out;
  transform: scale(1.1); 
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.name-logo img {
  width: 400px;
}


.name-logo {
  margin-top: 200px;
  margin-left: 20px;
}

#about-me {
  background: linear-gradient(220deg, #893168 50%, #FFFFFF 50% );
  width: 100%;
  height: 100%;
  font-size: 70px;
}

#sebby img {
  margin-left: 1000px;
  margin-top: -650px;
}

#about-me img {
  width: 400px;
  height: 125px;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: -50px
}

#aboutme-p, .education-p {
  width: 600px; 
  font-family: 'Lato', sans-serif;
  margin-left: 50px;
  font-size: 20px;
  line-height: 55px;
  color: #00000000000;
}

#education {
  background: linear-gradient(45deg, #6EA4BF 50%, #FFFFFF 50% );
  width: 100%;
  height: 800px;
  font-size: 70px;
}

.education-p {
  font-size: 20px;
  margin-left: 50px;
  color: #000000;
  line-height: 55px;
}

#education img {
  width: 500px;
  height: 100px;
  margin-left: 20px;
  margin-top: 200px;
}

#experience {
  background: linear-gradient(220deg, #EAEAEA 50%, #FFFFFF 50% );
  /* width: 100%;
  height: 100%; */
  font-size: 70px;
}

.experience-p {
  font-size: 30px;
}

#contact {
  background: linear-gradient(45deg, #C2EFEB 50%, #FFFFFF 50% );
  width: 100%;
  height: 100%;
  font-size: 70px;
}

li {
  float: left;
  font-family: 'Lato', sans-serif;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1); 
  color: #893168;
  font-weight: 100px;
}

